
:root {
    --primary-color: #121212;
    --secondary-color: #4682B4;
}

body {
    font-family: "Roboto", serif;
}

.btn-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);

}

.card.card-primary.card-outline {
    border-top: 5px solid var(--secondary-color);
}

/* ASIDE  */
.sidebar {
    background: var(--primary-color);
}

.main-sidebar {
    background: var(--primary-color);
}

.nav-link.active {
    background-color: var(--secondary-color) !important;
}

/* Profile */
li.user-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: var(--primary-color);
    color: #FFF;
}
 
li.user-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
 
.circle-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #2F2F2F;
    color: #FFF;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 15px;
}

/* CARD  */

.card-primary:not(.card-outline)>.card-header {
    background-color: var(--secondary-color);
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FFF;

}

.nav-tabs a {
    color: #000;
}

.dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
}

 /* Scroll to Bottom Button */
 #scrollToBottom {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#scrollToBottom:hover {
    background-color: #0056b3;
    transform: translateY(3px) scale(1.1);
}

#scrollToBottom i {
    animation: bounce 2s infinite;
}